*{
		/*background: #202020;*/
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		/*color: #444444;*/
}

.class="active"
{
   /* padding:0px;
    margin:0px;*/
    background: black;
    Color: Bluel
    display:block;
}

.class="active" > li
{
float: left;
}