<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/default.css" th:href="@{/css/default.css}"/>
    <link rel="stylesheet" href="../static/css/font.css" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div style="color:blue;" class="container-fluid">

            <form action="/searchCategory" method="get">
                <ul class="nav navbar-nav" th:each="category : ${categories}" >
                    <li class="active"  >
                        <button type="submit" id="category" name="category" th:value="${category.id}"
                                th:text="${category.name}" class="btn btn-secondary"></button>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</header>

<div id="search">
    <form action="/searchByDetails" method="get">
        <select class="form-control" style="width: 250px; color: #6cc091;" id="language" name="language" >
            <option value="Español">Español</option>
            <option value="Ingles">Ingles</option>
        </select>
        <br/>
        <select class="form-control" style="width: 250px; color: #6cc091;" id="experience" name="experience" >
            <option value="0">Ninguna</option>
            <option value="2">2 años</option>
            <option value="3">3 o mas años</option>
        </select>
        <br/>
        <select class="form-control" style="width: 250px; color: #6cc091;" id="career" name="career" >
            <option value="Ingenieria de Sistemas">Ingenieria de Sistemas</option>
            <option value="Derecho">Derecho</option>
            <option value="Medicina">Medicina</option>
        </select>
        <br/>
        <input value = "Buscar" type="submit" class="btn btn-secondary" style="color:orange; background-color: rgba(1, 1, 36, 0.56);"/>
    </form>
</div>


</body>
</html>