<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GUIA PREP - REQUISITOS ESPECIFICOS</title>
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>div{background:"Silver"}</style>
    <link rel="stylesheet" href="../static/css/styleViewOneRequierement.css" th:href="@{/css/styleViewOneRequierement.css}"/>
-->
    <meta charset="utf-8"/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="../static/css/layout.css" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" href="../static/css/navbar.css" th:href="@{/css/navbar.css}"/>
    <script src="../static/scripts/jquery.min.js" th:src="@{/scripts/jquery.min.js}"></script>
    <script src="../static/scripts/jquery.backtotop.js" th:src="@{/scripts/jquery.backtotop.js}"></script>
    <script src="../static/scripts/jquery.mobilemenu.js" th:src="@{/scripts/jquery.mobilemenu.js}"></script>
    <script src="../static/scripts/jquery.flexslider-min.js" th:src="@{/scripts/jquery.flexslider-min.js}"></script>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image: url(../static/images/01.png);" th:style="'background-image: url(' + @{/images/01.png} + ');'">
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <!-- ################################################################################################ -->
            <div id="logo" class="fl_left">
                <h1><a th:href="${'/'}"><img src="../static/images/logo.jpeg" th:src="@{/images/logo.jpeg}" style="width:80px;height:80px;" /></a></h1>
            </div>
            <div class="fl_right">
                <div class="navbar">
                    <a  class="active" th:href="${'/'}">Home</a>
                    <div class="dropdown">
                        <button class="dropbtn">Areas
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content"  >
                            <div th:each="category : ${categories}">
                                <a th:href="${'/searchCategory/' + category.id}" th:text="${category.name}"></a>

                            </div>
                        </div>
                    </div>
                    <a th:href="${'/searchDetails'}">Yo cumplo</a>
                    <a th:href="${'/searchLinksByCategory'}">Links</a>
                    <a th:href="${'/announcements'}">Convocatorias</a>
                </div>
            </div>
            <!-- ################################################################################################ -->
        </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->

</div>

<header>
    <nav class="navbar navbar-default">
        <div style="color:blue;" class="container-fluid">

            <form action="/searchLinksByCategory" method="get">
                <ul class="nav navbar-nav" th:each="category : ${categories}" >
                    <li class="active"  >
                        <button type="submit" id="category" name="category" th:value="${category.id}"
                                th:text="${category.name}" class="btn btn-secondary"></button>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</header>
<h3 th:if="${category!=0}" th:text="${category.name}"></h3>

<section id="three" class="wrapper align-center">
    <div class="inner">
        <div class="flex flex-1" style="border:thin">
            <article  th:each="link : ${links}" >
                <table width="800" cellspacing="1" cellpadding="3" border="0" bgcolor="#58D68D">
                    <tr>

                        <center>
                            <td><font color="#FFFFFF" face="arial, verdana, helvetica">
                                <b>
                                    <header>
                                        <h3 th:text="${link.name}"></h3>
                                    </header>
                                </b>
                            </font></td>
                        </center>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffcc">
                            <font face="arial, verdana, helvetica">Descripcion: </font>
                        </td>
                        <td bgcolor="#ffffcc">
                            <font face="arial, verdana, helvetica"><p th:text="${link.description}"></p></font>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffcc">
                            <font face="arial, verdana, helvetica">LInk:</font>
                        </td>
                        <td bgcolor="#ffffcc">
                            <font face="arial, verdana, helvetica"><p th:text="${link.link}"></p></font>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffcc">
                            <font face="arial, verdana, helvetica">Categoria:</font>
                        </td>
                        <td bgcolor="#ffffcc">
                            <font face="arial, verdana, helvetica"><p th:text="${link.category.name}"></p></font>
                        </td>
                    </tr>
                </table>
                <!--

                <p th:text="${link.description}"></p>
                <p th:text="${link.link}"></p>

                <p th:text="${link.category.name}"></p>
                -->
            </article>
        </div>
    </div>
</section>
<div class="wrapper row3">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <h3 class="heading">Guia PREP</h3>
        <nav>
            <ul class="nospace inline pushright uppercase">
                <li><a th:href="${'/'}"><i class="fa fa-lg fa-home"></i></a></li>
                <li><a th:href="${'/presentation'}">¿Quiénes somos?</a></li>
                <li><a href="#">Contáctenos</a></li>
                <li><a th:href="${'/questions'}">Preguntas frecuentes</a></li>

            </ul>
        </nav>

        <!-- ################################################################################################ -->
    </footer>
</div>

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

</body>
</html>