<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/default.css" th:href="@{/css/default.css}"/>
    <link rel="stylesheet" href="../static/css/font.css" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<header>
    <nav class="navbar navbar-default">
        <div style="color:blue;" class="container-fluid">

            <form action="/searchLinksByCategory" method="get">
                <ul class="nav navbar-nav" th:each="category : ${categories}" >
                    <li class="active"  >
                        <button type="submit" id="category" name="category" th:value="${category.id}"
                                th:text="${category.name}" class="btn btn-secondary"></button>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</header>
<h3 th:if="${category!=0}" th:text="${category.name}"></h3>

<section id="three" class="wrapper align-center">
    <div class="inner">
        <div class="flex flex-1" style="border:thin">
            <article  th:each="link : ${links}" >
                <header>
                    <h3 th:text="${link.name}"></h3>
                </header>
                <p th:text="${link.description}"></p>
                <p th:text="${link.link}"></p>

                <p th:text="${link.category.name}"></p>

            </article>
        </div>
    </div>
</section>
</body>
</html>

